$color-light: rgb(250, 244, 244);
$color-dark: #292e39;
$color-success: #23dc7f;
$color-warning: #dd4343;

$font-text: 'Poppins', sans-serif;

$radius: 20px;
$base-size: 12px;
$transition: all 0.5s;
$box-shadow: 0 0 50px rgba(39, 35, 35, 0.5);
$background-gradient: linear-gradient(to right, #851be2, #2d00e0);